@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

/*      Accordion       */
.main-league-headings {
    text-align: center;
    margin-top: 60px;
}

.main-league-img {
    height: 150px;
    width: 150px;
    display: block;
    margin: 20px auto;
}

.accordion-inner{
    text-align: center;
    display: none; 
}

